.logo > img {
  width: 120px;
  margin: 10px;
}

Button {
  margin: 30px;
}

.boxBackground {
  background-color: black !important;
}

@media only screen and (max-width: 600px) {
  .buttons {
    display: none;
  }

  Button {
    margin: 0;
  }

  .logo > img {
    width: 60px;
  }
}
