.image > img {
  width: 60%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.image {
  margin: auto;
  padding: 10px;
}

.content {
  padding: 10px;
  margin: 10px;
}
